@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=VT323&display=swap');

:root {
    --primary-50: #f7fee7;
    --primary-100: #ecfccb;
    --primary-200: #d9f99d;
    --primary-300: #bef264;
    --primary-400: #a3e635;
    --primary-500: #84cc16;
    --primary-600: #65a30d;
    --primary-700: #4d7c0f;
    --primary-800: #3f6212;
    --primary-900: #365314;

    --text-color: #2a3950;

    --section-background-primary: rgba(222, 222, 222, 0.34);
    --section-background-secondary: rgba(166, 166, 166, 0.32);
    scroll-behavior: smooth;
    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow-md: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    --green-gradient: linear-gradient(90deg, #62B97F 3.45%, #39B9A2 96.48%);

    --monospace: VT232, monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
}

/* -------------- Header -------------- */

.nav-header {
    background: var(--green-gradient);
    position: sticky;
    top: 0;
    box-shadow: var(--shadow-md);
}

header > div {
    margin: auto;
    max-width: 66vw;
    padding: 1rem;
}

.logo-section {
    display: flex;
    padding-bottom: 1rem;
}

.text-header {
    padding-left: 14px;
    border-left: 3px var(--text-color) solid;
}

header .logo {
    padding-right: 1rem;
    max-height: 2.2rem;
}

nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 10vw;
    overflow: hidden;
}

nav li {
    display: block;
    padding: 7px 15px;
    margin: 10px 10px;
    background-color: #0369a1;
    transform: skew(20deg);
    transition: padding 0.1s ease-in-out;
}

nav li:hover {
    padding: 7px 40px;
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    transform: skew(-20deg);
    font-weight: 500;
}

/* -------------- Content -------------- */

main {
    width: 100%;
    color: var(--text-color);
}

section .content {
    display: block;
    max-width: 45%;
    margin: 0 auto;
}

section header {
    display: block;
    max-width: 45%;
    margin: 0 auto;
}

section h1 {
    font-weight: 800;
    font-size: 3rem;
    padding-bottom: 2rem;
    scroll-margin-top: 5em;
}

.content-section {
    display: block;
}

.content p {
    margin-bottom: 1em;
    line-height: 1.5em;
    font-size: 1.1em;
}

.content {
    padding-bottom: 1em;
}

.content a {
    background: #ffffff;
    color: var(--text-color);
    padding: 2px 4px;
}

.content a:hover {
    background: var(--green-gradient);
    text-decoration: none;
    color: #fff;
}

.content span.code {
    background-color: #e7dddd;
    padding: 3px 5px;
    font-family: var(--monospace);
}

main section:first-child {
    margin-top: 3rem;
}

main section:not(:first-child) {
    margin-top: 1.5rem;
}

main section:last-child {
    margin-bottom: 3em;
}

/*code blocks*/

.single-example-container {
    width: 100%;
    margin-top: 3rem;
}

.single-example-container .code-block {
    width: 100%;
}

.code-block {
    font-size: 1.1rem;
}

.code-block > div {
    border-radius: 10px;
    background-color: #1e293b;
    padding: 1.5rem;
    height: 100%;
    min-width: 80%;
    overflow-x: auto;
}

.code-block p {
    margin-top: 16px;
    text-align: center;
    font-weight: 600;
    color: #1e293b;
}

/*wobbly dividers*/

.highlight > div {
    background: var(--green-gradient);
}

.highlight .content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.highlight::before {
    content: '';
    width: 100%;
    height: 10rem;
    display: inline-block;
    margin-top: 10rem;
    margin-bottom: -10px;
    background-image: url(
    "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNzYiIHZpZXdCb3g9IjAgMCAxNDQwIDE3NiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWw6c3BhY2U9InByZXNlcnZlIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj4KPHBhdGggZD0iTTEwODQgMTcuNUM5MTUuNSAtNDkuMTk3OSA2NzEuNSAxMDMuNSAzODEgNDlDMjQ2Ljg3NiAyMy44MzczIDc2IDk5IC0yNyA4MUMtNzMuMDY5OCA3Mi45NDkgLTM0LjQ5MDYgMTUwLjQxNiAtNTUgMTc2SDE0OTQuNVY0M0MxNDEyLjE3IDU0LjY2NjcgMTIxOC40IDcwLjcgMTA4NCAxNy41WiIgZmlsbD0idXJsKCNwYWludDBfbGluZWFyXzRfNikiLz4KPGRlZnM+CjxsaW5lYXJHcmFkaWVudCBpZD0icGFpbnQwX2xpbmVhcl80XzYiIHgxPSIwIiB5MT0iMTIwIiB4Mj0iMTQ0MCIgeTI9IjEyMCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPgo8c3RvcCBzdG9wLWNvbG9yPSIjNjJCOTdGIi8+CjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzM5QjlBMiIvPgo8L2xpbmVhckdyYWRpZW50Pgo8L2RlZnM+Cjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

.highlight::after {
    content: '';
    width: 100%;
    height: 10rem;
    position: relative;
    display: inline-block;
    margin-bottom: 10rem;
    background-image: url(
    "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNzYiIHZpZXdCb3g9IjAgMCAxNDQwIDE3NiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWw6c3BhY2U9InByZXNlcnZlIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj4KPHBhdGggZD0iTTEwODQgMTcuNUM5MTUuNSAtNDkuMTk3OSA2NzEuNSAxMDMuNSAzODEgNDlDMjQ2Ljg3NiAyMy44MzczIDc2IDk5IC0yNyA4MUMtNzMuMDY5OCA3Mi45NDkgLTM0LjQ5MDYgMTUwLjQxNiAtNTUgMTc2SDE0OTQuNVY0M0MxNDEyLjE3IDU0LjY2NjcgMTIxOC40IDcwLjcgMTA4NCAxNy41WiIgZmlsbD0idXJsKCNwYWludDBfbGluZWFyXzRfNikiLz4KPGRlZnM+CjxsaW5lYXJHcmFkaWVudCBpZD0icGFpbnQwX2xpbmVhcl80XzYiIHgxPSIxNDQwIiB5MT0iMTIwIiB4Mj0iMCIgeTI9IjEyMCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPgo8c3RvcCBzdG9wLWNvbG9yPSIjNjJCOTdGIi8+CjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzM5QjlBMiIvPgo8L2xpbmVhckdyYWRpZW50Pgo8L2RlZnM+Cjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    transform: rotate(180deg);
    z-index: -3;
}

/*media queries*/

@media (
max-width: 1280px
) {
    header > div {
        margin: auto;
        max-width: 100vw;
        padding: 1rem;
    }

    .text-header {
        font-size: 1.1rem;
    }

    nav > ul {
        overflow-x: scroll;
        overflow-y: hidden;
        align-items: center;
        flex-wrap: nowrap;
    }

    nav a {
        white-space: nowrap;
    }

    .two-item-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    section .content {
        max-width: 70%;
    }
}

@media (max-width: 768px) {
    section .content {
        max-width: 90%;
    }

    .code-block {
        width: 95%;
    }

    .code-block div {

    }
}

/*custom highlight.js*/

.hljs {
    color: #abb2bf;
    background: #1e293b;
}

.hljs-comment,
.hljs-quote {
    color: #5c6370;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75;
}

.hljs-literal {
    color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
    color: #98c379;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: #e6c07b;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}

/* utilities */
.italics {
    font-style: italic;
}

.bold {
    font-weight: 700;
}